static/libs/
node_modules/
.DS_Store
.idea
.project
.svn
npm-debug.log

# bem
static/.bem/cache/
static/.enb/tmp/
static/*bundles*/*/*.*
static/!*bundles*/*/*.bemdecl.js
static/!*bundles*/.bem/*
static/*pages*/*/*.*
static/!*pages*/*/*.bemdecl.js
static/!*pages*/.bem/*
static/*.bundles/*/*.bemhtml.bemdecl.js

cache.json
dists/dist*
dists/libs
dists/.enb/tmp/
